<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Generator</title>
    <link rel="stylesheet" href="/assets/app.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>

    <div class="container p-3" id="app">
       <h5 class="text-center">{{ .description }}</h5> 
        <div class="form">

            <div class="form-group">
                <label for="prompt">Prompt</label>
                <textarea name="prompt" class="form-control" v-model="prompt" id="prompt" cols="10" rows="5"></textarea>
            </div>

            <div class="form-group">
                <label for="size">Size</label>
                <select name="size" class="form-control" id="size" v-model="size">
                    <option value="1024x1024">1024x1024</option>
                    <option value="1792x1024">1792x1024</option>
                    <option value="1024x1792">1024x1792</option>
                </select>
            </div>
            <div class="form-group">
                <label for="style">Style</label>
                <select name="style" class="form-control" v-model="style" id="style">
                    <option value="vivid">Vivid</option>
                    <option value="natural">Natural</option>
                </select>
            </div>

            <div class="form-group">
                <label for="model">Model</label>
                <select name="model" class="form-control" v-model="model" id="model">
                    <option value="dall-e-2">dall-e-2</option>
                    <option value="dall-e-3">dall-e-3</option>
                </select>
            </div>

            <div class="form-group">
                <label for="variation">Variations</label>
                <input type="number" class="form-control" v-model="variation" name="variation" id="">
            </div>

            <div class="form-group mt-3">
                <button class="btn btn-primary" @click="getImage">Generate Image</button>
            </div>

            <div class="loader" v-if="isLoading">Loading...</div>

            
            <div class="gallery mt-3">
                <div class="row">
                    <div class="col-sm-4 p-3" v-for="result in results">
                        <a :href="result.url"><img :src="result.url" width="200" height="200" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script src="/assets/app.js"></script>
</body>
</html>